<div class="container d-flex flex-column min-vh-100 pt-5 pb-5">
    <!-- Heading -->
    <div class="row heading justify-content-around">
        <div class="col-auto mr-auto">
            <h4 class="section-title"><i class="fa-solid fa-note-sticky mr-3"></i>All Notes</h4>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-edit" name="btn-add-note">Add Note</button>
        </div>
    </div>

    <!-- Note cards -->
    <div class="container d-flex flex-column pt-5 pb-5">
        <div class="card-deck">
            <div class="row card-group">
                <div class="col-lg-3 col-md-4 col-sm-6 card-col" *ngFor="let note of notes">
                    <a routerLink="/notes/{{ note._id }}" style="all: unset; cursor:pointer;">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ note.title }}</h5>
                                <p class="card-text">{{ note.content.substring(0,150) }}...</p>
                                <p class="card-text"><small class="text-muted">Last updated: {{ note.updatedAt |
                                        date:'yyyy-MM-dd HH:mm:ss' }}</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>