<div class="container d-flex flex-column min-vh-100 pt-5 pb-5">
    <!-- Heading -->
    <div class="row heading justify-content-around">
        <div class="col-auto mr-auto">
            <h4 class="section-title">👋 Hi {{ this.jwtPayload.firstName }}, Welcome!</h4>
            <p class="blockquote-footer">Here're your latest notes</p>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-edit" name="btn-add-note" routerLink="/add-note">Add note</button>
        </div>
    </div>

    <!-- Note cards -->
    <div class="container d-flex flex-column pt-5 pb-5">
        <div class="card-deck">
            <div class="row card-group">
                <div class="col-lg-3 col-md-4 col-sm-6 card-col" *ngFor="let note of notes; let i = index">
                    <a routerLink="/edit-note/{{ note._id }}" style="all: unset; cursor:pointer;" *ngIf=" i < 4 ">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ note.title }}</h5>
                                <p class="card-text">{{ note.content.substring(0,150) }}...</p>
                                <p class="card-text"><small class="text-muted">Last updated: {{ note.updatedAt |
                                        date:'yyyy-MM-dd HH:mm:ss' }}</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-more mx-auto" name="btn-more" routerLink="/notes"
            *ngIf="notes != ''">View more</button>
    </div>

</div>