<p class="login-card-description">Reset your password</p>
<p class="login-card-description-2">Lost your password? Please enter your email address. You
    will
    receive a link to create a new password via email.</p>
<form action="#!">
    <div class="form-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email address" />
    </div>
    <input name="pass-reset" id="pass-reset" class="btn btn-block login-btn mb-4" type="button"
        value="Reset Password" />
</form>