<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="../assets/images/login-side-img.jpg" alt="login" class="login-card-img" />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="../assets/images/logo.png" alt="logo" class="logo" />
                        </div>
                        <p class="login-card-description">Sign into your account</p>
                        <form action="#!">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control"
                                    placeholder="Email address" />
                            </div>
                            <div class="form-group mb-4">
                                <input type="password" name="password" id="password" class="form-control"
                                    placeholder="●●●●●●●●●●" />
                            </div>
                            <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button"
                                value="Login" />
                        </form>
                        <a class="forgot-password-link" routerLink="/forgot-password" routerLinkActive="active"
                            ariaCurrentWhenActive="page">Forgot password?</a>
                        <p class="login-card-footer-text">
                            <a class="text-reset" routerLink="/sign-up" routerLinkActive="active"
                                ariaCurrentWhenActive="page">Create new account</a>
                        </p>
                        <nav class="login-card-footer-nav">
                            © 2023 uNote | All Rights Reserved.
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>