<p class="login-card-description">Create new account</p>
<form class="form-signin" [formGroup]="signupForm" (ngSubmit)="userSignup()" ngNativeValidate>
    <div class="form-group mb-0">
        <div class="form-row">
            <div class="col">
                <input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName"
                    placeholder="First name" required />
            </div>
            <div class="col">
                <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName"
                    placeholder="Last name" required />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="email" name="emailAddress" id="emailAddress" class="form-control" formControlName="emailAddress"
            placeholder="Email address" required />
    </div>
    <div class="form-group mb-4">
        <input type="password" name="password" id="password" class="form-control" formControlName="password"
            placeholder="●●●●●●●●●●" required />
    </div>
    <button name="signup" id="signup" class="btn btn-block login-btn mb-4" type="submit">Sign Up</button>
</form>
<p class="login-card-footer-text">
    <a class="text-reset" routerLink="/auth/sign-in">Sign into
        your account</a>
</p>