.profile-img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  border: 0;
}

.btn-edit {
  background-color: #ffd83c;
}

.btn-save {
  background-color: #276dfe;
  border-color: #276dfe;
}

.btn-save:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}
