<footer class="fixed-bottom text-center text-white">
    <div class="container pt-3 pb-3">
        <!-- Social media -->
        <section>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" data-mdb-ripple-color="dark"><i
                    class="fab fa-facebook-f"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" data-mdb-ripple-color="dark"><i
                    class="fab fa-twitter"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" data-mdb-ripple-color="dark"><i
                    class="fab fa-instagram"></i></a>
        </section>
        <!-- Social media -->
    </div>
    <!-- Copyright details-->
    <div class="text-center text-light p-3 footer-bottom">
        © 2023 uNote - The simplest way to keep notes | All Rights Reserved.
    </div>
</footer>